
#highscores, #timer {
    font-size: 20px;
    text-align: left;
    color: blue;
    padding: 20px 10px 20px 10px;
    width: 50%;
}

#timer {
    
    text-align: right;
    
    
}


.container {
    text-align: center;
}

.button-answer, #start, #play-again, #sub-btn, #reset-score {
    background-color: purple;
    border-radius: 12px; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.question, #quiz {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px 20px 30px;
    
}
 ol {
     text-align: center;
     width: 50%;
     margin: 0 auto;
 }

